body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .swiper {
    width: 100%;
    height: auto; /* let it grow with image */
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
  }
  

  .swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #d31313;
  }

  .swiper .swiper-pagination-bullet-active {
    background: #d31313;
  }